<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login Page V1</title>
  </head>
  <body>
    <div class="main">
      <div class="login-main">
        <h3 class="login-text">Login</h3>

        <form action="" method="">
          <div class="login-input">
            <div class="input-email input-sub">
              <input
                class="input input-email"
                type="text"
                id="email"
                required
              />
              <label for="email" class="lable">Email</label>
            </div>
            <div class="input-password input-sub">
              <input
                class="input input-pass"
                type="password"
                id="pass"
                required
              />
              <label for="pass" class="labletwo">Password</label>
            </div>
            <div class="remember">
              <input type="checkbox" class="checkbox" id="check" />
              <label for="check">Remember Me</label>
            </div>
            <div class="forgot">
              <a href=""><p>Forget Password</p></a>
            </div>
          </div>
          <button type="button" class="button">Log in</button>
        </form>
        <p class="sign-up">Don't have a account <a href="">Sign Up</a></p>
      </div>
    </div>
  </body>
</html>
