@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* , ::after , ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --body-color : #0c0921;
    --input-background : #1f1c32;
    --input-border-color : #0b0c18;
    --public-background-color: #1e1940;
    --gpt-background-color: #1f1c32;
    --navbar-color : #09061a;
    --font-family: 'Open Sans', sans-serif;
    --text-shadow : 4px 4px 7px black;
}


body{
    background-color:var(--body-color);
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: var(--font-family);
    text-shadow: var(--text-shadow);
    scroll-behavior: smooth;
    
}

.main-div{
    width: 100%;
    display: grid;
    grid-template-areas: 'sidebar  navbar navbar navbar navbar  '
                        'sidebar  chat chat chat chat ';
                       
    grid-template-rows: 115px 1fr 30px;
    grid-template-columns: 170px 1fr; 
  
}
/* side bar style */

.side-bar{
   
    min-height: 100vh; 
    grid-area: sidebar;
     background-color: var(--navbar-color);
}

.logo{
    padding: 2rem;
    text-align: center;
}

.logo img{
    width: 100px;
}


.chat-gpt img , .image-gpt img {
    width: 100%;
    height: 150px;
    opacity: .8;

}

.chat-gpt , .image-gpt{
    overflow: hidden;
}

.chat-gpt:hover img , .image-gpt:hover img{
    transform: scale(110%);
    z-index: -1;
    opacity: .9;
}



/* navbar style */

.nav-bar{
    grid-area: navbar;  
    background-color: var(--navbar-color);
    
}

.profile{
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
    
}



.profile img{
    border-radius: 50%;
    width: 70px;
}

.logo-nav , .chat-gpt-nav, .image-gpt-nav {
    display: none;
}






/* chat div */

.chat-div{
    grid-area: chat;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    height: 75vh;
    overflow: scroll;
    padding-bottom: 4rem;
    overflow-wrap: break-word;
    
    
}

.chat-div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chat-section{
    width: 95%;
   
    margin:  0px auto 2rem;
    padding-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    
   
   
}


.chat{
    width: 70%;
    color: rgb(212, 212, 212);
    font-size: 1.2rem;
    padding: 1.5rem 1.5rem 4rem 1.5rem;
    border-radius: 8px;
    margin: 1rem;
    display: block;
    line-height: 1.6;
    text-align: justify;
   
}


.chat-by-public{

    background-color: var(--public-background-color);
    align-self: flex-end;

   

}


.chat-bt-gpt {
    background-color: var(--gpt-background-color);
    position: relative;

}

.copy{
    position: absolute;
    cursor: pointer;
    right: 20px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    margin-top: 1rem ;
    opacity: 0.8;
}


.input{
    position: fixed;
    bottom: 20px;
    left: 31%;
    width: 50%;
    margin: auto;
    height: 60px;
    text-align: center;
   
}

.input input{

    width: 90%;
    margin: auto;
    height: 48px;
    border-radius: 8px;
    background-color: var(--input-background);
    border: none;
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
    border: 1px solid var(--input-border-color);
    padding-right: 5.5rem;
    
}

.input button{
    position: absolute;
    top: 3px;
    height: 40px;
    right: 70px;
    border: none;
    cursor: pointer;
    background-color:transparent;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}

.input input:focus{
    outline: none;
   
}

.chat-by-public{
  position: relative;
  padding-right: 5.5rem;
}

.logo-avator , .logo-gpt{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.logo-avator {
  top: 10px;
 right: 10px;
}

.logo-gpt{
  top: 10px;
  left: 10px;
}

.chat-bt-gpt{
  padding-left: 5.5rem;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

h1{
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
span[class^="dot-"]{
  opacity: 0;
}
.dot-one{
  animation: dot-one 2s infinite linear
}
.dot-two{
  animation: dot-two 2s infinite linear
}
.dot-three{
  animation: dot-three 2s infinite linear
}
.dot-four{
  animation: dot-three 2s infinite linear
}
.dot-five{
  animation: dot-three 2s infinite linear
}
.dot-six{
  animation: dot-three 2s infinite linear
}
@keyframes dot-one{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes dot-two{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes dot-three{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

/* image section */

.image-section{
    margin: 1rem auto 1rem auto;
    width: 90%;
    text-align: center;
}
.image{
    background-color: #1e1940;
    padding: 2rem;
    width: 500px;
    height: 400px;
    margin: 2rem auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.download{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    
}

.image .main-image{
    width: 400px;
    height: 300px;
}




.regenerate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.btn {
  align-items: center;
  background-image: linear-gradient(144deg,#5f2886, #3e2f9e 50%,#2a9097);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  padding: 10px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;

}

.btn img{
    width: 30px;
    height: 30px;
    padding-left: .5rem;
}

.btn:hover{
     background-image: linear-gradient(144deg,#72359e, #4a38bb 50%,#38aab3);
}



.lod{
    position: absolute;
    top: 7px;
    right: 77px;
}

.loader {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #3b9ad1 #0ac7bd;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 22px;
  height: 22px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}


.hidden {
    display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
  


/* highlight js */

.hljs{

    background: #00000073 !important;
    color: #c4c4c4 !important;
    border-radius: 8px !important;
}

.code_one{
  padding-bottom: 1rem;
}

.code_two{
  padding-top: 1.5rem;
}


.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
    color: #179ebe !important;
}

.hljs-section, .hljs-title {
    color: #29b05f !important;
    font-weight: 700 !important;
}

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
    color: #aa53e9 !important;
}

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-name, .hljs-selector-tag {
    font-weight: 700 !important;
    color: #b48608 !important;
}

@media (max-width : 1329px) {

    .input {
    left: 15%;
    width: 85%;
   
}


}


@media (max-width : 1090px) {

    .input {
    left: 16%;
   
   
}


}


@media (max-width : 997px) {

    .input {
    left: 17%;
   
}

}

@media (max-width : 800px ){

    .side-bar{
        display: none;
    }
    .main-div{
    width: 100%;
    display: grid;
    grid-template-areas: 'navbar  navbar navbar navbar navbar  '
                        'chat  chat chat chat chat ';
                       
    grid-template-rows: 100px 1fr 30px;
    grid-template-columns: 170px 1fr; 
  
}

.input{
    left: 0;
    width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding:  0 0 0 1rem;
}

.logo-nav , .chat-gpt-nav, .image-gpt-nav {
    display: inline;
}


.profile {
   flex-basis: 50%;
}

.logo-nav img{
    width: 45px;
    height: 45px;
    border-radius: 8px;

}

.chat-gpt-nav img , .image-gpt-nav img{
    width: 45px;
    height:45px;
    border-radius: 8px;
}

.chat{
    margin : 0 auto 1rem ;
    width: 94%;
    font-size: 1rem;
     padding-top: 16px;
}
.profile{
    padding-right: 1rem;
}

.regenerate {
    
    margin-top: 0px;
}

.chat-by-public{
  padding-right: 4rem;
}

.logo-avator , .logo-gpt{
  width: 40px;
  height: 40px;
}


.logo-avator {
  top: 10px;
 right: 10px;
 opacity: 0.7;
}

.logo-gpt{
  top: 10px;
  left: 10px;
}

.chat-bt-gpt{
  padding-left: 4rem;
}


}


@media (max-width: 711px){
    .chat-div{
        height: 73vh;
    }
}

@media (max-width : 568px ){

.main-div {
   
    grid-template-rows: 80px 1fr 30px;
   
}
.logo-nav img{
    width: 35px;
    height: 35px;
    border-radius: 8px;

}



.profile img{
    border-radius: 50%;
    width: 40px;
    
}
.chat-gpt-nav img , .image-gpt-nav img{
    width: 35px;
    height: 35px;
    opacity: 0.8;
}

.input input{
    padding-right: 4.5rem;
}
.input button {
   
    
    right: 40px;
    
}

.chat-div{
    height: 77vh;
}

.chat{
    color: rgb(204, 198, 198);
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    width: 95%;
    padding-bottom: 3rem;
    padding-top: 11px;
   
}


.image-section{
    margin-top: 2rem;
    width: 90%;
  
}
.image{
    padding: 1rem 1rem 2rem 1rem;
    width: 95%;
    height: 400px;
    margin: 1rem auto;

}

.download{
    width: 30px;
    height: 30px;

    bottom: 10px;
    right: 15px;
    
}

.image .main-image{
    width: 94%;
    height: 300px;
}


.regenerate{
    width: 100%;
    
  
    margin-top: 4rem;
}

.lod {
    right: 44px;
}

.copy{
 
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

.chat-by-public{
  padding-right: 3rem;
}

.logo-avator , .logo-gpt{
  width: 30px;
  height: 30px;
}


.logo-avator {
  top: 10px;
 right: 10px;
 opacity: 0.7;
}

.logo-gpt{
  top: 10px;
  left: 10px;
}

.chat-bt-gpt{
  padding-left: 3rem;
}

}



/* loder */




@media (max-width: 380px){

    .image-section{
    margin-top: 1rem;
    width: 95%;
  
}
.image{
    padding: 1rem 1rem 2rem 1rem;
    width: 95%;
    height: 300px;
    margin: 0 auto 1rem;

}

.download{
    width: 25px;
    height: 25px;
    
}

.image .main-image{
    width: 94%;
    height: 200px;
}
.chat-div {
    height: 75vh;
}
}