@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* , ::after , ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --body-color : #0c0921;
    --input-background : #1f1c32;
    --input-border-color : #0b0c18;
    --public-background-color: #1e1940;
    --gpt-background-color: #1f1c32;
    --navbar-color : #09061a;
    --font-family: 'Open Sans', sans-serif;
    --text-shadow : 4px 4px 7px black;
}


body{
    background-color:var(--body-color);
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: var(--font-family);
    text-shadow: var(--text-shadow);
    
}

.main-div{
    width: 100%;
    display: grid;
    grid-template-areas: 'sidebar  navbar navbar navbar navbar  '
                        'sidebar  chat chat chat chat ';
                       
    grid-template-rows: 115px 1fr 30px;
    grid-template-columns: 170px 1fr; 
  
}
/* side bar style */

.side-bar{
   
    min-height: 100vh; 
    grid-area: sidebar;
     background-color: var(--navbar-color);
}

.logo{
    padding: 2rem;
    text-align: center;
}

.logo img{
    width: 100px;
}


.chat-gpt img , .image-gpt img {
    width: 100%;
    height: 150px;
    opacity: .8;

}

.chat-gpt , .image-gpt{
    overflow: hidden;
}

.chat-gpt:hover img , .image-gpt:hover img{
    transform: scale(110%);
    z-index: -1;
    opacity: .9;
}



/* navbar style */

.nav-bar{
    grid-area: navbar;  
    background-color: var(--navbar-color);
    
}

.profile{
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
    
}



.profile img{
    border-radius: 50%;
    width: 70px;
}

.logo-nav , .chat-gpt-nav, .image-gpt-nav {
    display: none;
}






/* chat div */

.chat-div{
    grid-area: chat;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    height: 75vh;
    overflow: scroll;
    padding-bottom: 4rem;
    overflow-wrap: break-word;
    
    
}

.chat-div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chat-section{
    width: 95%;
   
    margin:  0px auto 2rem;
    padding-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    
   
   
}


.chat{
    width: 60%;
    color: rgb(212, 212, 212);
    font-size: 1.2rem;
    padding: 1.5rem;
    border-radius: 8px;
    margin: 1rem;
    display: block;
    line-height: 1.6;
    text-align: justify;
   
}


.chat-by-public{

    background-color: var(--public-background-color);
    align-self: flex-end;

   

}


.chat-bt-gpt {
    background-color: var(--gpt-background-color);
    
  
    
}

.input{
    position: fixed;
    bottom: 20px;
    left: 31%;
    width: 50%;
    margin: auto;
    height: 60px;
    text-align: center;
   
}

.input input{

    width: 90%;
    margin: auto;
    height: 48px;
    border-radius: 8px;
    background-color: var(--input-background);
    border: none;
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
    border: 1px solid var(--input-border-color);
    padding-right: 5.5rem;
    
}

.input button{
    position: absolute;
    top: 3px;
    height: 40px;
    right: 70px;
    border: none;
    cursor: pointer;
    background-color:transparent;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}

.input input:focus{
    outline: none;
   
}

.input::placeholder{
   
}


/* image section */

.image-section{
    margin: 1rem auto 1rem auto;
    width: 90%;
    text-align: center;
}
.image{
    background-color: #1e1940;
    padding: 2rem;
    width: 500px;
    height: 400px;
    margin: 2rem auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.download{
    width: 30px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: #181141bb;
}

.image .main-image{
    width: 400px;
    height: 300px;
}




.regenerate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.btn {
  align-items: center;
  background-image: linear-gradient(144deg,#5f2886, #3e2f9e 50%,#2a9097);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  padding: 10px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;

}

.btn img{
    width: 30px;
    height: 30px;
    padding-left: .5rem;
}

.btn:hover{
     background-image: linear-gradient(144deg,#72359e, #4a38bb 50%,#38aab3);
}


@media (max-width : 800px ){

    .side-bar{
        display: none;
    }
    .main-div{
    width: 100%;
    display: grid;
    grid-template-areas: 'navbar  navbar navbar navbar navbar  '
                        'chat  chat chat chat chat ';
                       
    grid-template-rows: 115px 1fr 30px;
    grid-template-columns: 170px 1fr; 
  
}

.input{
    left: 0;
    width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding:  0 0 0 2rem;
}

.logo-nav , .chat-gpt-nav, .image-gpt-nav {
    display: inline;
}


.profile {
   flex-basis: 50%;
}

.logo-nav img{
    width: 50px;
    height: 50px;
    border-radius: 8px;

}

.chat-gpt-nav img , .image-gpt-nav img{
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.chat{
    margin : 0 auto 1rem ;
    width: 90%;
}
.profile{
    padding-right: 2rem;
}


}

@media (max-width : 568px ){

    .main-div {
   
    grid-template-rows: 80px 1fr 30px;
   
}
.logo-nav img{
    width: 45px;
    height: 45px;
    border-radius: 8px;

}



.profile img{
    border-radius: 50%;
    width: 50px;
    
}
.chat-gpt-nav img , .image-gpt-nav img{
    width: 45px;
    height: 45px;
    opacity: 0.8;
}

.input input{
    padding-right: 4.5rem;
}
.input button {
   
    
    right: 40px;
    
}

.chat-div{
    height: 77vh;
}

.chat{
    color: rgb(204, 198, 198);
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    width: 95%;
    padding: 1rem;
   
}

}