<div class="chat-div">
  <% if(answer.length > 0 ) { %>
  <div class="chat-section">
    <% answer.forEach(e => { %>

    <div class="chat-by-public chat">
      <p><%= e.question %></p>
    </div>
    <div class="chat-bt-gpt chat">
      <p><%= e.answer %></p>
    </div>
    <% }); %>
  </div>
  <% } %>
  <form action="/" method="post">
    <div class="input">
      <input type="text" name="value" placeholder="Search" />
      <button type="submit">
        <img
          width="40"
          height="40"
          src="https://img.icons8.com/fluency/96/000000/sent.png"
          alt="sent"
        />
      </button>
    </div>
  </form>
</div>
