<div class="chat-div">
  <% if(answer.length > 0 ) { %>
  <div class="chat-section">
    <% answer.forEach(e => { %>

    <div class="chat-by-public chat">
      <p><%= e.question %></p>
    </div>
    <div class="chat-bt-gpt chat">
      <p><%= e.answer %></p>
    </div>
    <% }); %>
  </div>
  <% } %>
  
  <%- include("./input.ejs") %>
</div>
