<div class="chat-div">
  <% if(answer.length > 0 ) { %>
  <div class="chat-section">
    <% answer.forEach(e => { %>

    <div class="chat-by-public chat">
      <p class="question"><%= e.question %></p>
      <img class="logo-avator" src="/images/3.png" alt="" />
    </div>
    <div class="chat-bt-gpt chat">
      <% if(!e.isCode) {%>

      <p class="answer loading"><%= e.answer %></p>
      <% } else { %>
      <input type="hidden" class="code" value="<%= e.answer %>" />
      <div class="code-run">
        <p style="display: none"></p>
      </div>
      <% } %>
      <img class="logo-gpt" src="/images/chat.jpg" alt="" />
      <img
        class="copy"
        width="48"
        height="48"
        src="https://img.icons8.com/fluency/48/copy.png"
        alt="copy"
      />
      <p class="copy-message">Copy Done!</p>
    </div>
    <% }); %>
  </div>
  <% } %>
  <form action="/" method="post"><%- include("./input.ejs") %></form>
</div>
