    
    <script src="/js/pwa.js"></script>
    <script src="/js/status.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script type="module" src="/js/script.js"></script>
  </body>
</html>