<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="Chat Sonic, Shuvra Chakrabarty, shuvra-matrix, shuvra matrix, ai chat bot,ai image generator,Chat Guru">
    <meta name="author" content="Chat Sonic">
    <meta name="googlebot" content="index,follow" />
    <meta name="description" content="I Shuvra Chakrabarty have developed this web application as personal projects which using Node.js that incorporates the powerful capabilities of the OpenAI API and AI DALL·E. This application provides users with a chat interface, allowing them to interact with an AI-powered conversational agent."/>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="manifest" href="/js/pwa.webmanifest" />
    <link rel="shortcut icon" href="/images/android-launchericon-192-192.png" type="image/x-icon">
    <title>Chat Sonic</title>
