<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="Chat Sonic, Shuvra Chakrabarty, shuvra-matrix, shuvra matrix, ai chat bot,ai image generator,Chat Guru">
    <meta name="author" content="Chat Sonic">
    <meta name="googlebot" content="index,follow" />
    <meta name="description" content="Chat Sonic is an advanced chat application that utilizes cutting-edge technology to provide an unparalleled chat experience. Developed by Shuvra Chakrabarty as a self-project, Chat Sonic takes advantage of the Open AI API, Node JS, and employs state-of-the-art chatbots like GPT and DALL-E 2 for an immersive communication experience. This app is not developed for commercial purposes, but rather to showcase the power of AI in revolutionizing the way we chat. With Chat Sonic, you can expect to enjoy a seamless chat experience that is both fun and engaging."/>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="manifest" href="/js/pwa.webmanifest" />
    <link rel="shortcut icon" href="/images/android-launchericon-192-192.png" type="image/x-icon">
    <title>Chat Sonic</title>
