<div class="chat-div">
  <div class="image-section">
    <div class="image">
      <img class="main-image" src="/images/dalhe.jpg" alt="" />
      <a href=""
        ><img
          class="download"
          src="https://img.icons8.com/color-glass/48/downloading-updates.png"
          alt="downloading-updates"
        />
      </a>
    </div>

    <form action="/dalle" method="post">
      <div class="regenerate">
        <input type="hidden" name="preInput" value="" />
        <button class="btn">
          Regenerate
          <img width="64" height="64" src="/images/relode.png" alt="reboot" />
        </button>
      </div>
    </form>
  </div>

  <form action="/dalle" method="post">
    <div class="input">
      <input type="text" name="value" placeholder="Search" />
      <button type="submit">
        <img
          width="40"
          height="40"
          src="https://img.icons8.com/fluency/96/000000/sent.png"
          alt="sent"
        />
      </button>
    </div>
  </form>
</div>
