<div class="input">
      <input class="value-input" type="text" name="value" placeholder="Search" />
      <button type="submit" class="btns">
        <img
          class ="btns-image"
          width="40"
          height="40"
          src="https://img.icons8.com/fluency/96/000000/sent.png"
          alt="sent"
        />
      </button>
      <div class="lod loder hidden"><span class="loader"></span></div>    
  </div>
  
  
