  <div class="nav-bar">
        <div class="logo-nav">
          <a href="/"
            ><img
              width="100"
              height="100"
              src="https://img.icons8.com/avantgarde/100/bot.png"
              alt="bot"
          /></a>
        </div>
        <div class="chat-gpt-nav">
          <a href="/"><img src="/images/chat.jpg" alt="chat gpt logo" /></a>
        </div>
        <div class="image-gpt-nav">
          <a href="/dalle"><img src="/images/dalhe.jpg" alt="dalle logo " /></a>
        </div>
         <div class="image-gpt-nav">
          <a href="https://github.com/shuvra-matrix/CHAT-GURU/"><img src="/images/github.jpg" alt="github_logo" /></a>
        </div>
         <div id="install hidden-two" class="image-gpt-nav install">
          <img class="install-image" width="64" height="64" src="https://img.icons8.com/fluency/96/downloading-updates.png" alt="downloading-updates" alt="external-download-user-interface-kmg-design-outline-color-kmg-design"/>
          <div class="install-prompt hidden-two">
            <div class="arrow-up"></div>
            <p class="install-text">Install Chat Sonic</p>
            <p ><img class="close-install" width="96" height="96" src="https://img.icons8.com/fluency/96/downloading-updates.png" alt="downloading-updates"/></p>          
          </div>
        </div>
        <div class="profile">
          <a href="/"> <img src="/images/3.png" alt="" /> </a>
        </div>
  </div>
  