<div class="side-bar">
        <div class="logo">
          <a href="/"
            ><img
              width="100"
              height="100"
              src="https://img.icons8.com/avantgarde/100/bot.png"
              alt="bot"
          /></a>
        </div>
        <div class="chat-option">
          <div class="chat-gpt">
            <a href="/"><img src="/images/chat.jpg" alt="" /></a>
          </div>
          <div class="image-gpt">
            <a href="/dalle"><img src="/images/d4.jpg" alt="" /></a>
          </div>
        </div>
      </div>