<div class="side-bar">
  <div class="logo">
    <a href="/"
      ><img width="100" height="100" src="/images/newbot.png" alt="bot"
    /></a>
  </div>
  <div class="chat-option">
    <div class="chat-gpt">
      <a href="/"><img src="/images/chat.jpg" alt="chat gpt logo" /></a>
    </div>
    <div class="image-gpt stable">
      <a href="/stable/?mode=stableDiffusion"
        ><img src="/images/sdlogo.png" alt="dalle logo"
      /></a>
    </div>
    <div class="image-gpt">
      <a href="/dalle"><img src="/images/d4.jpg" alt="dalle logo" /></a>
    </div>
    <div class="image-gpt git">
      <a href="/stable/?mode=openjourney"
        ><img src="/images/github.jpg" alt="github logo"
      /></a>
    </div>
  </div>
</div>
