<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Chat Guru</title>
  </head>
  <body>
    <div class="main-div">
      <!------- sidebar ----------------------------->

      <div class="side-bar">
        <div class="logo">
          <a href="/"><img src="/images/logo.png" alt="" /></a>
        </div>
        <div class="chat-option">
          <div class="chat-gpt">
            <a href=""><img src="/images/chat.jpg" alt="" /></a>
          </div>
          <div class="image-gpt">
            <a href=""><img src="/images/dalhe.jpg" alt="" /></a>
          </div>
        </div>
      </div>

      <!-- sidebar close -->

      <!----- nav bar  -->
      <div class="nav-bar">
        <div class="logo-nav">
          <a href="/"><img src="/images/logo.png" alt="" /></a>
        </div>
        <div class="chat-gpt-nav">
          <a href=""><img src="/images/chat.jpg" alt="" /></a>
        </div>
        <div class="image-gpt-nav">
          <a href=""><img src="/images/dalhe.jpg" alt="" /></a>
        </div>
        <div class="profile">
          <a href=""> <img src="/images/avatar.jpg" alt="" /> </a>
        </div>
      </div>

      <!--- nav bar close   -->
      <!-- chat area -->

      <div class="chat-div">
        <div class="chat-section">
          <div class="chat-bt-gpt chat">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
              fugit, officia reiciendis quia commodi ab sequi, reprehenderit
              incidunt cum animi quod aspernatur velit eligendi ut delectus a?
              Ratione maxime ex quis laborum eligendi beatae optio aperiam nisi
              perferendis fuga earum culpa atque magnam illum nulla tempore
              dolorum vitae deleniti reprehenderit, vero eum accusamus
              praesentium? Soluta, blanditiis doloremque odit, nemo quos, dolore
              voluptatibus impedit exercitationem laborum molestias possimus
              reiciendis at deserunt corporis! Voluptatibus delectus esse
              mollitia blanditiis officiis sunt? Odio optio corporis, excepturi
              itaque inventore, quam, eligendi repellendus minus amet facilis id
              tempore in error. Sed suscipit libero reiciendis inventore
              repellat!
            </p>
          </div>
          <div class="chat-by-public chat">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Consectetur, beatae expedita voluptatem quibusdam perspiciatis
              animi atque quidem accusamus nisi, facilis sapiente quas quaerat?
              Impedit aliquam ex molestias! Voluptas, non neque.
            </p>
          </div>
          <div class="chat-bt-gpt chat">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
              fugit, officia reiciendis quia commodi ab sequi, reprehenderit
              incidunt cum animi quod aspernatur velit eligendi ut delectus a?
              Ratione maxime ex quis laborum eligendi beatae optio aperiam nisi
              perferendis fuga earum culpa atque magnam illum nulla tempore
              dolorum vitae deleniti reprehenderit, vero eum accusamus
              praesentium? Soluta, blanditiis doloremque odit, nemo quos, dolore
              voluptatibus impedit exercitationem laborum molestias possimus
              reiciendis at deserunt corporis! Voluptatibus delectus esse
              mollitia blanditiis officiis sunt? Odio optio corporis, excepturi
              itaque inventore, quam, eligendi repellendus minus amet facilis id
              tempore in error. Sed suscipit libero reiciendis inventore
              repellat!
            </p>
          </div>
          <div class="chat-by-public chat">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Consectetur, beatae expedita voluptatem quibusdam perspiciatis
              animi atque quidem accusamus nisi, facilis sapiente quas quaerat?
              Impedit aliquam ex molestias! Voluptas, non neque.
            </p>
          </div>
          <div class="chat-bt-gpt chat">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
              fugit, officia reiciendis quia commodi ab sequi, reprehenderit
              incidunt cum animi quod aspernatur velit eligendi ut delectus a?
              Ratione maxime ex quis laborum eligendi beatae optio aperiam nisi
              perferendis fuga earum culpa atque magnam illum nulla tempore
              dolorum vitae deleniti reprehenderit, vero eum accusamus
              praesentium? Soluta, blanditiis doloremque odit, nemo quos, dolore
              voluptatibus impedit exercitationem laborum molestias possimus
              reiciendis at deserunt corporis! Voluptatibus delectus esse
              mollitia blanditiis officiis sunt? Odio optio corporis, excepturi
              itaque inventore, quam, eligendi repellendus minus amet facilis id
              tempore in error. Sed suscipit libero reiciendis inventore
              repellat!
            </p>
          </div>
          <div class="chat-by-public chat">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Consectetur, beatae expedita voluptatem quibusdam perspiciatis
              animi atque quidem accusamus nisi, facilis sapiente quas quaerat?
              Impedit aliquam ex molestias! Voluptas, non neque.
            </p>
          </div>
          <div class="chat-bt-gpt chat">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
              fugit, officia reiciendis quia commodi ab sequi, reprehenderit
              incidunt cum animi quod aspernatur velit eligendi ut delectus a?
              Ratione maxime ex quis laborum eligendi beatae optio aperiam nisi
              perferendis fuga earum culpa atque magnam illum nulla tempore
              dolorum vitae deleniti reprehenderit, vero eum accusamus
              praesentium? Soluta, blanditiis doloremque odit, nemo quos, dolore
              voluptatibus impedit exercitationem laborum molestias possimus
              reiciendis at deserunt corporis! Voluptatibus delectus esse
              mollitia blanditiis officiis sunt? Odio optio corporis, excepturi
              itaque inventore, quam, eligendi repellendus minus amet facilis id
              tempore in error. Sed suscipit libero reiciendis inventore
              repellat!
            </p>
          </div>
          <div class="chat-by-public chat">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Consectetur, beatae expedita voluptatem quibusdam perspiciatis
              animi atque quidem accusamus nisi, facilis sapiente quas quaerat?
              Impedit aliquam ex molestias! Voluptas, non neque.
            </p>
          </div>
          <div class="chat-bt-gpt chat">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae
              fugit, officia reiciendis quia commodi ab sequi, reprehenderit
              incidunt cum animi quod aspernatur velit eligendi ut delectus a?
              Ratione maxime ex quis laborum eligendi beatae optio aperiam nisi
              perferendis fuga earum culpa atque magnam illum nulla tempore
              dolorum vitae deleniti reprehenderit, vero eum accusamus
              praesentium? Soluta, blanditiis doloremque odit, nemo quos, dolore
              voluptatibus impedit exercitationem laborum molestias possimus
              reiciendis at deserunt corporis! Voluptatibus delectus esse
              mollitia blanditiis officiis sunt? Odio optio corporis, excepturi
              itaque inventore, quam, eligendi repellendus minus amet facilis id
              tempore in error. Sed suscipit libero reiciendis inventore
              repellat!
            </p>
          </div>
          <div class="chat-by-public chat">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Consectetur, beatae expedita voluptatem quibusdam perspiciatis
              animi atque quidem accusamus nisi, facilis sapiente quas quaerat?
              Impedit aliquam ex molestias! Voluptas, non neque.
            </p>
          </div>
        </div>

        <form action="">
          <div class="input">
            <input type="text" name="value" />
            <button type="submit">
              <img
                width="40"
                height="40"
                src="https://img.icons8.com/fluency/96/000000/sent.png"
                alt="sent"
              />
            </button>
          </div>
        </form>
      </div>

      <!-- CHAT AREA CLOSE -->
    </div>
  </body>
</html>
